<div class="background-image-container d-flex justify-content-center align-items-center">
    <div class="container text-center flex-grow-1 d-flex flex-column justify-content-center">
        <h1 class="fw-bold text-white">{{ header }} Boat Hiring</h1>
    </div>
</div>

<div class="vh-100 bg-secondary">
    <div class="container">
        <h1 class="fw-bold py-4 text-center">Section</h1>
    </div>
</div>

<div class="vh-100 bg-secondary">
    <div class="container">
        <h1 class="fw-bold py-4 text-center">Section</h1>
    </div>
</div>

<div class="vh-100 bg-secondary">
    <div class="container">
        <h1 class="fw-bold py-4 text-center">Section</h1>
    </div>
</div>

<div class="vh-100 bg-secondary">
    <div class="container">
        <h1 class="fw-bold py-4 text-center">Section</h1>
    </div>
</div>