<div class="background-image-container flex justify-center items-center">
    <div class="container flex flex-col justify-center">
        <h1 class="font-bold text-white text-4xl sm:text-5xl md:text-6xl pb-2">
            About Sydney Boat Rentals
        </h1>
    </div>
</div>

<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
            <img class="object-cover object-center rounded" alt="hero"
                src="https://miro.medium.com/v2/resize:fit:1000/1*E8iSPjRf-vgzUYv9WXJ-eg.jpeg">
        </div>
        <div
            class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Who we are
            </h1>
            <p class="mb-8 leading-relaxed">Sydney Harbour Escapes is Sydney’s premier boat rental service, helping
                Sydneysiders celebrate special occasions on the water since 2000. We started off as a small, family
                business with only a handful of boats. But our commitment to excellent service has now allowed us to own
                a fleet of over 140 boats, and a team of experienced captains and staff to match.

                We take great pride in providing top tier customer service and treating all of our customers with
                respect. We do this by creating genuine positive relationships with everyone who rents our boats, being
                the ultimate professionals and displaying patience - even in the most choppiest of waters.</p>
        </div>
    </div>
</section>

<section class="text-gray-600 bg-gray-200 body-font">
    <div class="container px-5 py-20 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="text-4xl font-medium bold title-font text-gray-900 font-bold uppercase">OUR TEAM
            </h1>
        </div>
        <div class="flex flex-wrap -m-4">
            <div class="flex flex-wrap -m-4">
                <div *ngFor="let member of teamMembers" class="p-4 lg:w-1/2">
                    <div
                        class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                        <img alt="team"
                            class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
                            [src]="member.imageUrl">
                        <div class="flex-grow sm:pl-8">
                            <h2 class="title-font font-medium text-lg text-gray-900">{{ member.name }}</h2>
                            <h3 class="text-gray-500 mb-3">{{ member.role }}</h3>
                            <p class="mb-4">{{ member.description }}</p>
                            <span class="inline-flex">
                                <a [href]="member.socialLinks.facebook" class="text-gray-500">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                                    </svg>
                                </a>
                                <a [href]="member.socialLinks.twitter" class="ml-2 text-gray-500">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                        <path
                                            d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                                        </path>
                                    </svg>
                                </a>
                                <a [href]="member.socialLinks.linkedin" class="ml-2 text-gray-500">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                        <path
                                            d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                                        </path>
                                    </svg>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>