<div class="background-image-container d-flex justify-content-center align-items-center">
    <div class="container flex-grow-1 d-flex flex-column justify-content-center">
        <h1 class="fw-bold text-white">Sydney Boat Rentals</h1>
    </div>
</div>

<div class="vh-100 bg-secondary">
    <div class="container">
        <h1 class="fw-bold py-4 text-center">Section</h1>
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your
                        mind.</span></h2>
                <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting
                    prose here.</p>
            </div>
            <div class="col-md-5">
                
            </div>
        </div>
    </div>
</div>

<div class="vh-100 bg-secondary">
    <div class="container">
        <h1 class="fw-bold py-4 text-center">Section</h1>
    </div>
</div>

<div class="vh-100 bg-secondary">
    <div class="container">
        <h1 class="fw-bold py-4 text-center">Section</h1>
    </div>
</div>

<div class="vh-100 bg-secondary">
    <div class="container">
        <h1 class="fw-bold py-4 text-center">Section</h1>
    </div>
</div>