.transparent-navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10; /* Ensures the navbar stays above other elements */
    background-color: transparent !important;
    border-bottom: none;
}

body {
    padding-top: 0; /* Removes padding that might be added for a fixed navbar */
}
