<nav class="navbar navbar-expand-lg transparent-navbar">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/home']">Sydney Boat Rentals</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="btn btn-info" class="nav-link active" [routerLink]="['/home']">Home</a>
                <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="btn btn-info" class="nav-link" [routerLink]="['/boats', 'boat']">Boat Hire</a>
                <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="btn btn-info" class="nav-link" [routerLink]="['/boats', 'luxury']">Luxury Yacht</a>
                <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="btn btn-info" class="nav-link" [routerLink]="['/boats', 'corporate']">Corporate Events</a>
                <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="btn btn-info" class="nav-link active" [routerLink]="['/how']">How to Hire</a>
                <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="btn btn-info" class="nav-link active" [routerLink]="['/about']">About Us</a>
                <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="btn btn-info" class="nav-link active" [routerLink]="['/contact']">Contact</a>
            </div>
        </div>
    </div>
</nav>
