<div>

  <app-menu></app-menu>
  <!-- Body -->
  <div class="body-content">
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 mt-4 col-lg-2 text-center text-sm-start">
          <div class="information">
            <h6 class="footer-heading text-uppercase fw-bold">Events</h6>
            <ul class="list-unstyled footer-link mt-4 ">
              <li class=" mb-1"><a class="text-decoration-none" href="#">Birthday Party</a></li>
              <li class="mb-1"><a class="text-decoration-none" href="#">Vivid Sydney</a></li>
              <li class="mb-1"><a class="text-decoration-none" href="#">Australia Day</a></li>
              <li class=""><a class="text-decoration-none" href="#">Christmas Day</a></li>
              <li class=""><a class="text-decoration-none" href="#">New Year's Eve</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 mt-4 col-lg-2 text-center text-sm-start">
          <div class="resources">
            <h6 class="footer-heading text-uppercase fw-bold">Activities</h6>
            <ul class="list-unstyled footer-link mt-4">
              <li class="mb-1"><a class="text-decoration-none" href="#">Wedding</a></li>
              <li class="mb-1"><a class="text-decoration-none" href="#">Private Party</a></li>
              <li class="mb-1"><a class="text-decoration-none" href="#">Birthday Party</a></li>
              <li class="mb-1"><a class="text-decoration-none" href="#">Bbq Party</a></li>
              <li class="mb-1"><a class="text-decoration-none" href="#">Corporate Event</a></li>
              <li class=""><a class="text-decoration-none" href="#">Dinner Cruise</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 mt-4 col-lg-2 text-center text-sm-start">
          <div class="resources">
            <h6 class="footer-heading text-uppercase fw-bold">Boat Type</h6>
            <ul class="list-unstyled footer-link mt-4">
              <li class="mb-1"><a class="text-decoration-none" href="#">Power Boats</a></li>
              <li class="mb-1"><a class="text-decoration-none" href="#">Pontoons</a></li>
              <li class="mb-1"><a class="text-decoration-none" href="#">Catamaran Boats</a></li>
              <li class="mb-1"><a class="text-decoration-none" href="#">Sailing Boats</a></li>
              <li class="mb-1"><a class="text-decoration-none" href="#">Luxury Yachts</a></li>
              <li class=""><a class="text-decoration-none" href="#">Fishing Boats</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 mt-4 col-lg-2 text-center text-sm-start">
          <div class="resources">
            <h6 class="footer-heading text-uppercase fw-bold">Quicklinks</h6>
            <ul class="list-unstyled footer-link mt-4">
              <li class="mb-1"><a class="text-decoration-none" href="#">About</a></li>
              <li class="mb-1"><a class="text-decoration-none" href="#">How to Hire</a></li>
              <li class="mb-1"><a class="text-decoration-none" href="#">Contact</a></li>
              <li class=""><a class="text-decoration-none" href="#">Blog</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 mt-4 col-lg-4 text-center text-sm-start">
          <div class="contact">
            <h6 class="footer-heading text-uppercase fw-bold">Contact Us</h6>
            <address class="mt-4 m-0 mb-1"><i class="bi bi-pin-map "></i> New South Block , Phase
              8B , 160055</address>
            <a class="text-decoration-none" href="tel:+" class="mb-1 text-decoration-none d-block "><i
                class="bi bi-telephone"></i>
              909090XXXX</a>
            <a class="text-decoration-none" href="mailto:" class="mb-1 text-decoration-none d-block "><i
                class="bi bi-envelope"></i> </a>
            <a class="text-decoration-none" href=""><i class="bi bi-skype"></i> xyzdemomail</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-4 p-1">
      <p class="mb-0 ">2023 © Sydney Boat Hiring, All Rights Reserved</p>
    </div>
  </footer>
</div>