<div class="background-image-container d-flex justify-content-center align-items-center min-vh-100">
    <div class="container text-center flex-grow-1 d-flex flex-column justify-content-center">
        <h1 class="fw-bold text-white">Sydney's Most Comprehensive Boat Hire</h1>
        <p>Easy Affordable Boat Hire Tailored To Suit Your Exact Needs</p>
        <div class="form d-flex justify-content-center align-items-center">
            <input type="text" class="me-2">
            <input type="text" class="me-2">
            <button class="btn btn-primary">Find My Boat</button>
        </div>
    </div>
</div>

<div class="vh-100">
    <div class="container">
        <h1 class="fw-bold py-4">Events and Ocassions</h1>

    </div>

</div>

<div class="vh-100 bg-secondary">
    <div class="container">
        <h1 class="fw-bold py-4 text-center">Holiday Celebrations</h1>
    </div>
</div>

<div class="vh-100">
    <div class="container">
        <h1 class="fw-bold py-4 text-center">Sydney's Number 1 Boat Hiring</h1>
    </div>
</div>

<div class="vh-100">
    <div class="container">
        <h1 class="fw-bold py-4 text-center">Recommended By Industry</h1>
    </div>
</div>