<div class="background-image-container d-flex justify-content-center align-items-center">
    <div class="container text-center d-flex flex-column justify-content-center">
        <h1 class="fw-bold text-white text-uppercase">Sydney's Most Comprehensive Boat Hire</h1>
        <p class="text-white">Easy Affordable Boat Hire Tailored To Suit Your Exact Needs</p>
        <div class="d-flex justify-content-center align-items-center mt-1">
            <div class="row mb-5">
                <div class="col-auto">
                    <select class="form-select">
                        <option value="" disabled selected>Select Event</option>
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
                <div class="col-auto">
                    <select class="form-select">
                        <option value="" disabled selected>Select Guest</option>
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary">Find My Boat</button>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="vh-100 bg-light my-4">
    <div class="container">
        <h2 class="fw-bold text-center py-4 text-uppercase">Events and Ocassions</h2>

    </div>
</div>

<div class="vh-100 bg-light my-4">
    <div class="container">
        <h1 class="fw-bold py-4 text-center">Holiday Celebrations</h1>
    </div>
</div>

<div class="vh-100 bg-light my-4">
    <div class="container">
        <h1 class="fw-bold py-4 text-center">Sydney's Number 1 Boat Hiring</h1>
    </div>
</div>

<div class="vh-100">
    <div class="container">
        <h1 class="fw-bold py-4 text-center">Recommended By Industry</h1>
    </div>
</div>