<div class="background-image-container flex justify-center items-center">
    <div class="container text-center flex flex-col justify-center">
        <h1 class="font-bold text-white text-4xl sm:text-5xl md:text-6xl pb-2">
            Sydney's Most <br>Comprehensive Boat Hire
        </h1>
        <h2 class="text-white text-base sm:text-lg md:text-xl italic pb-4">
            Easy Affordable Boat Hire Tailored To Suit Your Exact Needs
        </h2>
        <div class="flex justify-center items-center mt-1">
            <div class="flex flex-wrap mb-5">
                <div class="px-2">
                    <button id="selectBoat" data-dropdown-toggle="selectBoatOptions"
                        class="bg-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm px-5 py-2.5 text-center inline-flex items-center"
                        type="button">Where is your event? <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 4 4 4-4" />
                        </svg>
                    </button>

                    <div id="selectBoatOptions"
                        class="z-10 hidden bg-white divide-y divide-gray-100  shadow w-44 dark:bg-gray-700">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="selectBoat">
                            <li>
                                <a href="#"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Wedding</a>
                            </li>
                            <li>
                                <a href="#"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Corporate
                                    Event</a>
                            </li>
                            <li>
                                <a href="#"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Birthday
                                    Parties</a>
                            </li>
                            <li>
                                <a href="#"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Vivid
                                    Sydney</a>
                            </li>
                            <li>
                                <a href="#"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Australia
                                    Day
                                </a>
                            </li>
                        </ul>
                    </div>

                    <button id="selectGuests" data-dropdown-toggle="selectGuestOptions"
                        class="ml-2 bg-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm px-5 py-2.5 text-center inline-flex items-center"
                        type="button">How many guests? <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 4 4 4-4" />
                        </svg>
                    </button>

                    <div id="selectGuestOptions"
                        class="z-10 hidden bg-white divide-y divide-gray-100 shadow w-44 dark:bg-gray-700">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="selectGuests">
                            <li>
                                <a href="#"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Up
                                    to 35 Guests</a>
                            </li>
                            <li>
                                <a href="#"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">36-70
                                    Guests</a>
                            </li>
                            <li>
                                <a href="#"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">More
                                    than 71 Guests</a>
                            </li>
                        </ul>
                    </div>

                    <button type="button"
                        class="ml-2 text-white bg-yellow-400 hover:bg-yellow-500  focus:ring-4 font-medium  text-sm px-5 py-2.5 text-center me-2 mb-2 dark:focus:ring-yellow-900">Find
                        My Boat</button>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-10 mx-auto">
        <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1 uppercase">Just for
            you</h2>
        <h1 class="text-4xl font-medium bold title-font text-gray-900 mb-12 uppercase">Events / Occassions
        </h1>
        <swiper-container class="mySwiper" slides-per-view="4" space-between="30">
            <swiper-slide>
                <div
                    class="relative max-w-xs border border-solid border-gray-200 rounded-2xl overflow-hidden transition-all duration-500">
                    <div class="relative">
                        <img src="https://media.istockphoto.com/id/912920224/photo/just-married-couple-on-yacht-happy-bride-and-groom-on-their-wedding-day.jpg?s=612x612&w=0&k=20&c=2Z4O57Wi1HH1Jhg5X11L3nkVP2HXzovG3atkQGysQLo="
                            alt="Card image" class="block w-full" />
                        <div class="absolute inset-0 flex items-top pt-5 pl-5 bg-black bg-opacity-25">
                            <h1 class="text-3xl font-semibold text-white capitalize">Wedding</h1>
                        </div>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div
                    class="relative max-w-xs border border-solid border-gray-200 rounded-2xl overflow-hidden transition-all duration-500">
                    <div class="relative">
                        <img src="https://dubriani.com/wp-content/uploads/2020/08/Yacht-Solandge-Party-Time.jpeg"
                            alt="Card image" class="block w-full" />
                        <div class="absolute inset-0 flex items-top pt-5 pl-5 bg-black bg-opacity-25">
                            <h1 class="text-3xl font-semibold text-white capitalize">Private Party</h1>
                        </div>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div
                    class="relative max-w-xs border border-solid border-gray-200 rounded-2xl overflow-hidden transition-all duration-500">
                    <div class="relative">
                        <img src="https://dubaiboatcatering.com/wp-content/uploads/2023/06/Finger-Food-6-scaled.jpg"
                            alt="Card image" class="block w-full" />
                        <div class="absolute inset-0 flex items-top pt-5 pl-5 bg-black bg-opacity-25">
                            <h1 class="text-3xl font-semibold text-white capitalize">Birthday Party</h1>
                        </div>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div
                    class="relative max-w-xs border border-solid border-gray-200 rounded-2xl overflow-hidden transition-all duration-500">
                    <div class="relative">
                        <img src="https://media.licdn.com/dms/image/D4D12AQHppglJrTuz-g/article-cover_image-shrink_720_1280/0/1685971021689?e=2147483647&v=beta&t=48hkfSsIyL3TeUGPZ8zrS4-AQCXp-SYGUaEAZwcyu-s"
                            alt="Card image" class="block w-full" />
                        <div class="absolute inset-0 flex items-top pt-5 pl-5 bg-black bg-opacity-25">
                            <h1 class="text-3xl font-semibold text-white capitalize">Corporate Party</h1>
                        </div>
                    </div>
                </div>
            </swiper-slide>

            <swiper-slide>
                <div
                    class="relative max-w-xs border border-solid border-gray-200 rounded-2xl overflow-hidden transition-all duration-500">
                    <div class="relative">
                        <img src="https://pbs.twimg.com/media/FKG0kXxaUAMD11N.jpg" alt="Card image"
                            class="block w-full" />
                        <div class="absolute inset-0 flex items-top pt-5 pl-5 bg-black bg-opacity-25">
                            <h1 class="text-3xl font-semibold text-white capitalize">Gender Reveal</h1>
                        </div>
                    </div>
                </div>
            </swiper-slide>


        </swiper-container>
    </div>

    <div class="container px-20  py-20 mx-auto flex flex-wrap">
        <h2 class="px-20 lg:text-4xl text-2xl text-gray-900 font-medium title-font mb-2 md:w-2/5">A Local Family Boat
            Rental Business, <br> Started in 2000</h2>
        <div class="px-20 md:w-3/5 md:pl-6">
            <p class="leading-relaxed text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis
                laudantium amet exercitationem. Voluptatum in quae et natus, saepe tempora officia totam iure, eligendi
                voluptatibus cumque vitae modi a animi corporis! Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Maxime debitis, iusto earum maiores optio quo numquam provident nulla eveniet quibusdam, quisquam
                nihil molestias est recusandae unde repellat nobis inventore eum.</p>
            <div class="flex md:mt-4 mt-6">
                <a class="text-indigo-500 inline-flex items-center ml-4">Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="text-gray-600 bg-gradient-to-r from-gray-200 via-purple-300 to-gray-200  body-font">
    <div class="container px-5 py-20 mx-auto">
        <div class="flex flex-col text-center w-full mb-10">
            <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1 uppercase">Plan your trips
            </h2>
            <h1 class="text-4xl font-medium title-font mb-4 bold text-gray-900">Holiday Celebrations</h1>
        </div>
        <swiper-container class="mySwiper" slides-per-view="5" space-between="30">
            <swiper-slide *ngFor="let holiday of holidays; let i = index">
                <div [ngClass]="{'mt-10': i % 2 === 0, 'mb-10': i % 2 !== 0}"
                    class="relative max-w-xs border border-solid border-gray-200 rounded-2xl overflow-hidden transition-all duration-500">
                    <div class="relative">
                        <img [src]="holiday.imageUrl" alt="Holiday image" class="block w-full" />
                        <div class="absolute inset-0 flex items-top pt-5 pl-5 bg-black bg-opacity-25">
                            <h1 class="text-3xl font-semibold text-white capitalize">{{ holiday.title }}</h1>
                        </div>
                    </div>
                </div>
            </swiper-slide>
        </swiper-container>
    </div>
</section>

<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
            <img class="object-cover object-center rounded" alt="hero" src="https://dummyimage.com/720x600">
        </div>
        <div
            class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Sydney's Number 1 Boat Hiring
            </h1>
            <p class="mb-8 leading-relaxed">Chillwave portland ugh, knausgaard fam polaroid iPhone. Man braid swag
                typewriter affogato, hella selvage wolf narwhal dreamcatcher.</p>
            <div class="flex w-full md:justify-start justify-center items-end">
                <div class="relative mr-4 lg:w-full xl:w-1/2 w-2/4">
                    <label for="hero-field" class="leading-7 text-sm text-gray-600">Placeholder</label>
                    <input type="text" id="hero-field" name="hero-field"
                        class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:ring-2 focus:ring-indigo-200 focus:bg-transparent focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
                <button
                    class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button</button>
            </div>
            <p class="text-sm mt-2 text-gray-500 mb-8 w-full">Neutra shabby chic ramps, viral fixie.</p>
            <div class="flex lg:flex-row md:flex-col">
                <button
                    class="bg-gray-100 inline-flex py-3 px-5 rounded-lg items-center hover:bg-gray-200 focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 512 512">
                        <path
                            d="M99.617 8.057a50.191 50.191 0 00-38.815-6.713l230.932 230.933 74.846-74.846L99.617 8.057zM32.139 20.116c-6.441 8.563-10.148 19.077-10.148 30.199v411.358c0 11.123 3.708 21.636 10.148 30.199l235.877-235.877L32.139 20.116zM464.261 212.087l-67.266-37.637-81.544 81.544 81.548 81.548 67.273-37.64c16.117-9.03 25.738-25.442 25.738-43.908s-9.621-34.877-25.749-43.907zM291.733 279.711L60.815 510.629c3.786.891 7.639 1.371 11.492 1.371a50.275 50.275 0 0027.31-8.07l266.965-149.372-74.849-74.847z">
                        </path>
                    </svg>
                    <span class="ml-4 flex items-start flex-col leading-none">
                        <span class="text-xs text-gray-600 mb-1">GET IT ON</span>
                        <span class="title-font font-medium">Google Play</span>
                    </span>
                </button>
                <button
                    class="bg-gray-100 inline-flex py-3 px-5 rounded-lg items-center lg:ml-4 md:ml-0 ml-4 md:mt-4 mt-0 lg:mt-0 hover:bg-gray-200 focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 305 305">
                        <path
                            d="M40.74 112.12c-25.79 44.74-9.4 112.65 19.12 153.82C74.09 286.52 88.5 305 108.24 305c.37 0 .74 0 1.13-.02 9.27-.37 15.97-3.23 22.45-5.99 7.27-3.1 14.8-6.3 26.6-6.3 11.22 0 18.39 3.1 25.31 6.1 6.83 2.95 13.87 6 24.26 5.81 22.23-.41 35.88-20.35 47.92-37.94a168.18 168.18 0 0021-43l.09-.28a2.5 2.5 0 00-1.33-3.06l-.18-.08c-3.92-1.6-38.26-16.84-38.62-58.36-.34-33.74 25.76-51.6 31-54.84l.24-.15a2.5 2.5 0 00.7-3.51c-18-26.37-45.62-30.34-56.73-30.82a50.04 50.04 0 00-4.95-.24c-13.06 0-25.56 4.93-35.61 8.9-6.94 2.73-12.93 5.09-17.06 5.09-4.64 0-10.67-2.4-17.65-5.16-9.33-3.7-19.9-7.9-31.1-7.9l-.79.01c-26.03.38-50.62 15.27-64.18 38.86z">
                        </path>
                        <path
                            d="M212.1 0c-15.76.64-34.67 10.35-45.97 23.58-9.6 11.13-19 29.68-16.52 48.38a2.5 2.5 0 002.29 2.17c1.06.08 2.15.12 3.23.12 15.41 0 32.04-8.52 43.4-22.25 11.94-14.5 17.99-33.1 16.16-49.77A2.52 2.52 0 00212.1 0z">
                        </path>
                    </svg>
                    <span class="ml-4 flex items-start flex-col leading-none">
                        <span class="text-xs text-gray-600 mb-1">Download on the</span>
                        <span class="title-font font-medium">App Store</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Recommended By Industry
            </h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn
                asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man
                bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p>
        </div>
        <div class="flex flex-wrap -m-4 text-center">
            <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
                        <path d="M8 17l4 4 4-4m-4-5v9"></path>
                        <path d="M20.88 18.09A5 5 0 0018 9h-1.26A8 8 0 103 16.29"></path>
                    </svg>
                    <h2 class="title-font font-medium text-3xl text-gray-900">2.7K</h2>
                    <p class="leading-relaxed">Downloads</p>
                </div>
            </div>
            <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
                        <path d="M17 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2"></path>
                        <circle cx="9" cy="7" r="4"></circle>
                        <path d="M23 21v-2a4 4 0 00-3-3.87m-4-12a4 4 0 010 7.75"></path>
                    </svg>
                    <h2 class="title-font font-medium text-3xl text-gray-900">1.3K</h2>
                    <p class="leading-relaxed">Users</p>
                </div>
            </div>
            <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
                        <path d="M3 18v-6a9 9 0 0118 0v6"></path>
                        <path
                            d="M21 19a2 2 0 01-2 2h-1a2 2 0 01-2-2v-3a2 2 0 012-2h3zM3 19a2 2 0 002 2h1a2 2 0 002-2v-3a2 2 0 00-2-2H3z">
                        </path>
                    </svg>
                    <h2 class="title-font font-medium text-3xl text-gray-900">74</h2>
                    <p class="leading-relaxed">Files</p>
                </div>
            </div>
            <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
                        <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                    </svg>
                    <h2 class="title-font font-medium text-3xl text-gray-900">46</h2>
                    <p class="leading-relaxed">Places</p>
                </div>
            </div>
        </div>
    </div>
</section>